<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="main css/bootstrap.min.css">
</head>
<body>
    
    <div class="container" style="justify-items: center;">
        <h1>Add Product</h1>
        <div class="row">
            
            <div class="col-md-6">
                <label for="productName">Product Name</label>
                <input type="text" name="productName" class="productName">
                <br>
                <label for="serialNo">Serial number</label>
                <input type="text" name="serialNO" class="serialNo">
                <br>
                <label for="initial_Pay">Initial Pay</label>
                <input type="number" name='initial_pay' class="initial_pay">
                <br>
                <label for="color">Color</label>
                <input type="text" name="color" class="color">
                <br>

            </div>

            
            <div class="col-md-6">
                <label for="date">Date of entry</label>
                <input type="date" name="date" class="date">
                <br>
                <label for="price">Price</label>
                <input type="number" name="price" class="price">
                <br>
                <label for="pay_interval">Pay Interval</label>
                <input type="number" name="pay_interval" class="pay_interval">
                <br>
                <label for="stockNumber">Number in Stock</label>
                <input type="number" name="stockNumber" class="stockNumber">
            </div>

        </div>
    </div>






</body>
</html>