<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="main css/bootstrap.min.css">
    <link rel="stylesheet" href="main css/Addpdt.css">
    <style>
      label{
        width: 150px;
      }
      body {
        background-image: url('img/bg-01.jpg');
      }
    </style>
</head>
<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">COVID Stores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

    <!-- <div class="card-header">
      <h1>Covid Store</h1>
    </div> -->


    <!-- Main -->

    

    <div class="container">
        
      <h1>Covid <span>Stores</span></h1>


      <form action="/Addpdt" method="POST">

        <fieldset>

        

          <h3>Add Product</h3>


        
              
          <div class="addimg">
            <!-- <img src="img/bg-01.jpg" alt=""> -->
          </div>

          <div class="add-form">
                
            <div>
              <label for="productName">Product Name</label>
              <input type="text" name="productName" class="productName">
            </div>

            <div>
              <label for="make">Make</label>
              <input type="text" name="make" class="make">
            </div>
                
            <div>
              <label for="serialNo">Serial number</label>
              <input type="text" name="serialNo" class="serialNo">
            </div>
                  
            <div>
              <label for="initial_Pay">Initial Pay</label>
              <input type="number" name='initial_pay' class="initial_pay">
            </div>

            <div>
              <label for="color">Color</label>
              <input type="text" name="color" class="color">
            </div>
                
            <div>
              <label for="description">Description</label>
              <textarea name="description" id="des"></textarea>
            </div>
                
                                
                
                

          
            
            
            
          <div class="add-form">
            <div>
              <label for="category">Category</label>
              <input type="text" name="category" class="category">
            </div>

            <div>
              <label for="date">Date of entry</label>
              <input type="date" name="date" class="date">
            </div>

            <div>
              <label for="price">Price</label>
              <input type="number" name="price" class="price">
            </div>

            <div>
              <label for="pay_interval">Pay Interval</label>
              <input type="number" name="pay_interval" class="pay_interval">
            </div>

            <div>
              <label for="stockNumber">Number in Stock</label>
              <input type="number" name="stockNumber" class="stockNumber">
            </div>

            <div>
              <label for="image">Image</label>
              <input type="file" id="image" name="image">
            </div>     
                
          </div>


          <button class="butn">
            Save
          </button>

        
          
      </fieldset>
              


      </form>

      
            
         
      
      <!-- <div class="col-md-12">
        
      </div> -->


           

      
    </div>



    <!-- Footer Area -->
    <footer class="fixed-bottom" id="footer" style="color: white; background-color: rgb(6, 6, 22);">Copyright © 2020 All rights reserved by Walter.</footer>
    <!-- End of footer -->

     <!-- Js Scripts -->
    <script src="js\bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>





</body>
</html>