<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registered Agents
        link(rel="stylesheet", href="/main css/agentlist")
        link(rel="stylesheet", href="/main css/bootstrap.min.css")
    body
        h2(style="text-align: center;") Registered Agents.
        .container
            table.table
                thead.thead-dark
                    tr
                        th First name
                        th Last name
                        th User name
                        th Email
                        th Password
                        th Date of Birth
                        th Gender
                        th NIN 
                        th Employee ID
                        th PhoneNumber
                    tbody
                
    button.btn.btn-primary#add
        a(href="/register", style="color: white") Add New Sales Agents
    br
    footer(#footer,style="color: black;") Copyright © 2020 All rights reserved by Walter.