<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/main css/home.css">
    <link rel="stylesheet" href="/main css/bootstrap.min.css">


    
</head>
<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">COVID Stores</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="margin-left: auto;">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              Our Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#furniture">Furniture</a>
              <a class="dropdown-item" href="#food">Food Stuff</a>
              <a class="dropdown-item" href="#fittness">Fittness Kits</a>
              <a class="dropdown-item" href="#tv">Television Sets</a>
              <a class="dropdown-item" href="#bags">Bags</a>
              <a class="dropdown-item" href="#gaming">Gaming</a>
              <a class="dropdown-item" href="#shoes">Shoes</a>
              <a class="dropdown-item" href="#theatre">Home Theatre</a>
              <a class="dropdown-item" href="#jackets">Jackets</a>
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#contact">Contact<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/signin">Admin Login</a>
              <a class="dropdown-item" href="/login">Agent Login</a>
              
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <br>

    <!-- Main content -->


    <!-- Start of the carousel -->
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-12" style="background-color: white;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/hero_man.png" class="d-block w-50" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/LADY.png" class="d-block w-50" alt="...">
                </div>
                
                <div class="home-img-content">
                  <h1 class="covid1">Covid<span>store</span></h1>
                  <h2>Here For You !</h2>
                  <h5 style="color: rgb(133, 133, 235);">Wash you hands and stay safe.</h5>
            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of the carousel  -->


    <!-- Display Products -->
    <div class="ourproducts">
      <h3>Our products</h3>
      </div>
    

    <!-- starting point of products -->
     <!-- Furniture Section -->
    <div class="card-header">
      <h4 id="furniture" >Furniture</h4>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
      
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/davis.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 1,500,000</h5>
            po
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/Desk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 500,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/shutter.webp" class="card-img-top" alt="..." style="height: 230px;">
          <div class="card-body">
            <h5 class="card-title">Shs 200,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/nice set.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 2,500,000</h5>
             
          </div>
        </div>
      </div>
    </div>
  

    <!-- Food Section -->
    <h1 id="food">Food Stuff</h1>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col-md-4 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/food1.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Vegetables</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/food2.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Fruits</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/beef.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Beef</h5>
            
          </div>
        </div>
      </div>
     
    </div>

    <!-- Fittness Section -->
    <h3 id="fittness">Fittness Kits</h3>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col-md-6 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/gym1.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title"> Shs 950,000 each</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/gym2.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Dumb bell  shs 140,000 each</h5>
            
          </div>
        </div>
      </div>
      
    </div>

    <!-- Bag Section -->
    <h3 id="bags">Bags</h3>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/bag1.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 75,000</h5>
          
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/bag2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 100,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/bag3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 120,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/bag4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 90,000</h5>
            
          </div>
        </div>
      </div>
    </div>
    <!-- End of bag section -->

    <!-- Television Section -->
    <div class="card-header" style="background-color: lightgrey;">
      <h4 id="tv">Television Sets</h4>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col-md-6 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/tv4.webp" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Shs 1,500,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/tv3.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Shs 3,500,000</h5>
            
          </div>
        </div>
      </div>
      
    </div>


    <!-- Gaming  -->
    <div class="card-header">
      <h4 id="gaming">Gaming</h4>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
      
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/game1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Shs 1,400,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/games.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 200,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/game3.jpg" class="card-img-top" alt="..." style="height: 230px;">
          <div class="card-body">
            <h5 class="card-title">Shs 1,200,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="img/game2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 350,000</h5>
             
          </div>
        </div>
      </div>
    </div>

    <!-- -----------------------------------------Shoes------------------------------- -->
    <h3 id="shoes">Shoes</h3>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/shoe1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 50,000</h5>
          
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/shoe2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 100,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/shoe3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 20,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/shoe4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 70,000</h5>
            
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------Shoes------------------------------------>


    <!-- -------------------------------Home theatres----------------------------- -->
    <!-- Food Section -->
    <h1 id="theatre">Home Theatre</h1>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col-md-4 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/theatre1.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Shs 350,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/theatre2.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Shs 400,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" style="padding: 0 5%;">
        <div class="card">
          <img src="img/heatre3.jpg" class="card-img-top" alt="..." style="height: 236px;">
          <div class="card-body">
            <h5 class="card-title">Shs 700,000</h5>
            
          </div>
        </div>
      </div>
     
    </div>


    <!-- Jumper Section -->
    <h3 id="jacket">Jackets</h3>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/JA.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 75,000</h5>
          
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/JB.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 100,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/JC.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 30,000</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="img/JD.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shs 50,000</h5>
            
          </div>
        </div>
      </div>
    </div>
    <!-- End of bag section -->






    <!-- End of products -->


















    </div>


    

    
    
 











    <!-- Footer start -->
    <div class="footer">
      <div class="container" id="footer_home">
        <div class="row">
          <div class="col-md-4">
            <h4 style="color: white; font-family: penna;">Covid Stores</h4>
            
          </div>
          <div class="col-md-4">
            <h5 style="color: white;">About us</h5>
            <p style="color: white;">We Offer top quality products at genuine prices, Don't miss out on this opportunity.</p>
            </div>
          <div class="col-md-4">
            <h4 style="color: white;" id="contact">Contact us.</h4>
            <h5 style="color: white;">+256 <span>706700953</span></h5>
            <p style="color: white;">covidstore@gmail.com</p>
           
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="copy-right">Copyright © 2020 All rights reserved by Walter.</p>
          </div>
        </div>
      </div>
    </div>

      <!-- JS here -->
      <script src="/js/bootstrap.min.js"></script>
      <script src="js/jquery-3.4.1.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>