<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Product list
        link(rel="stylesheet", href="/main css/bootstrap.min.css")
    body
        h2(style="text-align: center;") Registered Agents.
        .container
            table.table
                thead.thead-dark
                    tr
                        th Product Name
                        th Category
                        th Make
                        th Date of entry
                        th Serial number
                        th Price
                        th Initial Pay
                        th Pay Interval
                        th Color
                        th Number in Stock
                        th Description
                        th Image 
                    tbody
